
/*********************************************
*
* Global Reset
*
*********************************************/
html {
    box-sizing: border-box;
    font-size: 75%;

    @media only screen and (max-width: $bp-large) {
        font-size: 62.5%;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li {
    color: inherit;
    list-style: none;
}

